@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.errorTextInput {
	width: 100%;
	border: 0;
	border-bottom: 3px solid colors.$mainGray;
	outline: 0;
	font-size: 1.8rem;
	color: colors.$black;
	padding: 0.7rem 0;
	background: transparent;
	transition: border-color 0.2s;
	&::placeholder {
		color: transparent;
	}
	&:focus {
		padding-bottom: 0.6rem;
		font-weight: 700;
		border-width: 4px;
		border-image: colors.$formInputGradientError;
		border-image-slice: 1;
	}
	&:invalid {
		box-shadow: none;
	}
	&:required {
		box-shadow: none;
	}
}
@media (max-width: breakPoints.$breakPoint1080) {
	.errorTextInput {
		font-size: 1.3rem;
	}
}

@media (max-width: breakPoints.$breakPoint600) {
	.errorTextInput {
		color: colors.$white;
	}
}
