@use "../../../../Styles/default";
@use "../../../../Styles/colors";
@use "../../../../Styles/breakPoints";

.wtl-code-saves-section {
	margin-top: 5rem;
	position: relative;
	&--title {
		font-size: 4rem;
		font-family: "Permanent Marker";
	}

	&__code-container {
		position: relative;
		height: auto;
		background: colors.$profileCardsGray;
		border-radius: 10px;
		border: 2px solid colors.$profileHalfWhiteTransparent;
		display: flex;
		font-size: 2.1rem;
		box-shadow: 0 3px 8px -2px colors.$profileShadowColor;
		padding: 2rem 4rem;
		align-items: center;
		justify-content: center;
		gap: 5rem;
		flex-wrap: wrap;
	}
}
