@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.wtl-learning-path-page {
	min-height: calc(100vh - 40rem);
	position: relative;
	width: 70%;
	margin: 0 auto;
	margin-top: 20rem;
	margin-bottom: 5rem;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
}

@media (max-width: breakPoints.$breakPoint1366) {
	.wtl-learning-path-page {
		width: 80%;
		margin-top: 5rem;
	}
}

@media (max-width: breakPoints.$breakPoint800) {
	.wtl-learning-path-page {
		width: 95%;
	}
}

@media (max-width: breakPoints.$breakPoint600) {
	.wtl-learning-path-page {
		margin-top: 0;
		&__container {
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
	}
}
