@use "../../../../Styles/default";
@use "../../../../Styles/colors";
@use "../../../../Styles/breakPoints";

.wtl-course-item {
	position: relative;
	width: 30%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: linear-gradient(0deg, colors.$profileCardsGray, #272727);
	padding-bottom: 1rem;
	&::after,
	&::before {
		content: "";
		position: absolute;
		border-radius: 10px;
		left: -2px;
		top: -2px;
		background: linear-gradient(
			45deg,
			colors.$mainDashboardGreen,
			colors.$darkPink,
			colors.$mainGreen,
			colors.$borderColor,
			colors.$red,
			colors.$mainDashboardGreen,
			colors.$darkPink,
			colors.$mainGreen,
			colors.$borderColor,
			colors.$red
		);
		background-size: 400%;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		z-index: -1;
		animation: steam 40s linear infinite;
	}
	&::after {
		filter: blur(10px);
	}
	&--title {
		font-size: 3rem;
		font-family: "Permanent Marker";
		text-align: center;
		padding: 1rem 0;
		border-bottom: 2px solid colors.$profileShadowColor;
	}
	&--description {
		font-size: 1.8rem;
		padding: 1rem;
		text-align: center;
		border-bottom: 2px solid colors.$profileShadowColor;
	}
	&--user-button {
		background: none;
		border: none;
		color: colors.$white;
		font-family: "Permanent Marker";
		font-size: 2.5rem;
		transition: all 1s ease;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-left: 4rem;
		&:hover {
			transform: translateX(1rem);
			text-shadow: 7px 9px 3px #ffffff;
		}
		&::after {
			content: "»";
			opacity: 0;
			transition: all 0.3s ease;
			margin-left: 2rem;
			font-size: 3rem;
		}
		&:hover::after {
			opacity: 1;
			right: 8%;
		}
	}
	&--admin-button {
		background: none;
		border: none;
		color: colors.$white;
		font-family: "Permanent Marker";
		font-size: 2.5rem;
		transition: all 1s ease;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-right: 3rem;
		&:hover {
			transform: translateX(-1rem);
			text-shadow: -7px 9px 3px #ffffff;
		}
		&::before {
			content: "«";
			opacity: 0;
			transition: all 0.3s ease;
			margin-right: 2rem;
			font-size: 3rem;
		}
		&:hover::before {
			opacity: 1;
			right: 8%;
		}
	}
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@media (max-width: breakPoints.$breakPoint1366) {
	.wtl-course-item {
		width: 35%;
	}
}
@media (max-width: breakPoints.$breakPoint1080) {
	.wtl-course-item {
		width: 40%;

		&--title {
			font-size: 2.5rem;
		}
		&--description {
			font-size: 1.5rem;
		}
		&--user-button {
			font-size: 2.2rem;
		}
		&--admin-button {
			font-size: 2.1rem;
		}
	}
}

@media (max-width: breakPoints.$breakPoint800) {
	.wtl-course-item {
		width: 45%;

		&--title {
			font-size: 2.5rem;
		}
		&--description {
			font-size: 1.5rem;
		}
		&--user-button {
			font-size: 2rem;
		}
		&--admin-button {
			font-size: 2rem;
		}
	}
}
@media (max-width: breakPoints.$breakPoint800) {
	.wtl-course-item {
		width: 70%;
	}
}

@media (max-width: breakPoints.$breakPoint400) {
	.wtl-course-item {
		width: 90%;
	}
}
