@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.wtl-login-form {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 75%;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	box-shadow: rgb(0, 0, 0) 0px 15px 30px 5px;
	&__form-side {
		display: flex;
		flex-direction: column;
		background: colors.$white;
		width: 50%;
		height: 100%;
		gap: 2rem;
		color: colors.$black;
		border-radius: 10px 0 0 10px;
		&--header {
			text-align: center;
			font-size: 3rem;
			font-weight: 700;
			padding: 4rem 4rem 0 4rem;
			&--special {
				color: colors.$darkPink;
			}
		}
		&__form {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;
			height: 100%;

			&--submit {
				border: none;
				color: colors.$white;
				background: colors.$darkPink;
				padding: 0.5rem 0;
				width: 70%;
				margin-top: 8rem;
				font-size: 1.8rem;
				font-weight: 700;
				border-radius: 50px;
				border: 1px solid colors.$darkPink;
				transition: all 0.3s ease;
				&:hover {
					border: 1px solid colors.$darkPink;
					background: colors.$white;
					color: colors.$darkPink;
				}
			}
			&--extra {
				padding-top: 2rem;
				text-align: center;
				width: 70%;
				font-size: 1.2em;
				font-weight: 500;
				span {
					font-size: 2rem;
					color: colors.$red;
				}
			}
			&__redirect {
				padding-top: 1rem;
				font-size: 1.2rem;
				&--link {
					color: colors.$darkPink;
					font-weight: 700;
				}
			}
		}
	}
	&__text-side {
		position: relative;
		background: colors.$darkPink;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 0 10px 10px 0;

		&--random-title {
			padding: 4rem 4rem;
			font-size: 3.5rem;
			margin: 0 auto;
			width: 90%;
			font-weight: 700;
			padding-bottom: 2rem;

			&--special {
				color: colors.$mainGreen;
				font-weight: 900;
			}
		}
		&--badge {
			height: 25rem;
		}
		&--rectangle-one {
			position: absolute;
			padding: 1.8rem 27rem;
			background: colors.$mainGreen;
			transform: rotateZ(-90deg);
			right: -23rem;
			top: 46%;
			box-shadow: -2px 3px 10px 2px rgba(10, 10, 10, 0.705);
		}
		&--rectangle-two {
			position: absolute;
			padding: 1.8rem 20rem;
			background: colors.$mainGreen;
			right: 15%;
			top: 85%;
			box-shadow: -2px 3px 10px 2px rgba(10, 10, 10, 0.705);
		}
	}
}

@media (max-width: breakPoints.$breakPoint1366) {
	.wtl-login-form {
		&__form-side {
			gap: 0.5rem;

			&--header {
				font-size: 2.5rem;
			}
		}
		&__text-side {
			&--random-title {
				padding: 4rem 4rem;
				font-size: 3rem;
			}

			&--badge {
				height: 20rem;
			}

			&--rectangle-one {
				padding: 1.8rem 27rem;
			}
			&--rectangle-two {
				padding: 1.8rem 17rem;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint1080) {
	.wtl-login-form {
		&__form-side {
			&--header {
				font-size: 2.5rem;
			}
		}

		&__text-side {
			&--badge {
				height: 18rem;
			}
			&--random-title {
				font-size: 3rem;
			}

			&--rectangle-two {
				padding: 1.8rem 15rem;
			}
		}
	}
}
@media (max-width: breakPoints.$breakPoint800) {
	.wtl-login-form {
		&__form-side {
			&--header {
				font-size: 2rem;
				padding: 4rem 2rem 0 4rem;
			}
			&__form {
				&--submit {
					width: 90%;
				}
				&--extra {
					width: 90%;
				}
			}
		}

		&__text-side {
			gap: 10rem;
			&--random-title {
				padding: 4rem 3rem;
				margin: 0;
				width: 100%;
				font-size: 2.5rem;
				text-align: center;
			}

			&--random-fact {
				padding: 0 3rem;
				width: 100%;
				margin: 0;
			}
			&--rectangle-one {
				display: none;
			}
			&--rectangle-two {
				display: none;
			}
		}
	}
}
@media (max-width: breakPoints.$breakPoint600) {
	.wtl-login-form {
		&__form-side {
			width: 90%;
			border-radius: 0px;
			background: none;
			color: colors.$white;
			&--header {
				padding: 0;
				padding-top: 6rem;
				font-size: 2.2rem;
				width: 90%;
				margin: 0 auto;
			}
			&__form {
				&--submit {
					width: 90%;
				}
				&--extra {
					width: 90%;
				}
			}
		}

		&__text-side {
			display: none;
		}
	}
}
