@use "../../Styles/default";
@use "../../Styles/colors";
@use "../../Styles/breakPoints";

.wtl-navbar {
	display: flex;
	font-size: 2rem;
	align-items: center;
	justify-content: space-between;
	margin: 5rem 10rem;
	height: 10vh;
	position: relative;
	&__logo-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 2;

		&__links-group {
			display: flex;
			align-items: center;
			width: 40%;
			justify-content: space-around;
			&--link {
				a {
					transition: color 0.3s ease;
					position: relative;
				}
				a::after {
					transition: all 0.3s ease;
					height: 5px;
					content: "";
					position: absolute;
					background-color: colors.$mainGreen;
					width: 0%;
					bottom: -5px;
					left: 0;
				}
				a:hover::after {
					width: 100%;
				}
			}
			&--disabled {
				text-decoration: line-through;
				opacity: 0.5;
				a {
					cursor: not-allowed;
				}
			}
		}
		&--logo {
			font-family: "Permanent Marker";
			font-size: 5rem;
			border-bottom: 4px solid transparent;
			transition: border-color 0.3s ease;
			&:hover {
				border-color: colors.$white;
			}
		}
	}
	&__auth-group {
		position: relative;
		a {
			margin: 0 0.5rem;
			transition: color 0.3s ease;
		}
		a:first-of-type::after {
			position: absolute;
			content: "|";
			color: colors.$white;
		}
		a:hover {
			color: colors.$mainGreen;
			font-weight: 600;
		}
	}
}
@media (max-width: breakPoints.$breakPoint1600) {
	.wtl-navbar {
		&__logo-links {
			&__links-group {
				width: 50%;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint1366) {
	.wtl-navbar {
		&__logo-links {
			&__links-group {
				width: 70%;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint1080) {
	.wtl-navbar {
		margin: 5rem 5rem;
		font-size: 1.6rem;

		&__logo-links {
			&__links-group {
				justify-content: space-between;
				width: 70%;
			}
			&--logo {
				font-size: 3.5rem;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint800) {
	.wtl-navbar {
		font-size: 1.4rem;
		margin: 5rem 3rem;
		&__logo-links {
			&__links-group {
				padding-left: 2rem;
				justify-content: space-between;
				width: 75%;
			}
			&--logo {
				font-size: 3rem;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint600) {
	.wtl-navbar {
		font-size: 1.4rem;
		margin: 1rem 8rem;
		&__logo-links {
			&__links-group {
				display: none;
			}
			&--logo {
				font-size: 5rem;
			}
		}
		&__auth-group {
			display: none;
		}
		&__burger {
			&--line {
				background: colors.$white;
				display: block;
				padding: 0.2rem 3rem;
				margin: 1.2rem 0;
			}
		}
	}
}

@media (max-width: breakPoints.$breakPoint400) {
	.wtl-navbar {
		margin: 1rem 2rem;
	}
}
