@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.wtl-editable-field {
	width: 100%;
	&__static-container {
		display: flex;
		gap: 1rem;
		align-items: center;
		img {
			filter: colors.$profileSvgWhite;
			width: 3rem;
			height: 3rem;
		}
		cursor: pointer;
	}
	&__editable-container {
		display: flex;
		input {
			background: none;
			border: none;
			color: colors.$white;
			border-bottom: 1px solid colors.$white;
		}
		button {
			background: none;
			border: none;
			img {
				filter: colors.$profileSvgWhite;
				width: 3rem;
				height: 3rem;
			}
		}
	}
}
