@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.wtl-profile-card {
	position: relative;
	display: flex;
	flex-direction: column;

	&__username-container {
		font-size: 2.5rem;
		&--p {
			margin-left: 20rem;
		}
	}
	&__card-container {
		position: relative;
		height: auto;
		background: colors.$profileCardsGray;
		border-radius: 10px;
		border: 2px solid colors.$profileHalfWhiteTransparent;
		display: flex;
		flex-direction: column;
		font-size: 2.3rem;
		box-shadow: 0 3px 8px -2px colors.$profileShadowColor;
		&--email {
			margin-top: 2rem;
			margin-left: 20rem;
		}
		&__github-container {
			margin-left: 20rem;
			display: flex;
			align-items: center;
			gap: 1rem;
			width: auto;
		}
		&--registered {
			margin-left: 20rem;
			margin-bottom: 2rem;
		}
		&__image-container {
			position: absolute;
			top: -8rem;
			left: 3rem;

			img {
				height: 150px;
				width: 150px;
				border-radius: 50%;
				border: 2px solid colors.$profileHalfWhiteTransparent;
				animation: rotateShadow 4s linear infinite;
			}
		}
	}
}

@keyframes rotateShadow {
	0% {
		box-shadow: 0 3px 8px -2px colors.$profileShadowColor;
	}
	20% {
		box-shadow: 4px 3px 8px -2px colors.$profileShadowColor;
	}
	60% {
		box-shadow: 4px -3px 8px -2px colors.$profileShadowColor;
	}
	80% {
		box-shadow: -4px -3px 8px -2px colors.$profileShadowColor;
	}
	100% {
		box-shadow: 0 3px 8px -2px colors.$profileShadowColor;
	}
}

@media (max-width: breakPoints.$breakPoint800) {
	.wtl-profile-card {
		&__username-container {
			margin-left: 0;
			font-size: 2rem;
		}
		&__card-container {
			font-size: 2rem;

			&--email {
				margin-top: 1rem;
				margin-left: 16rem;
			}
			&__github-container {
				margin-left: 16rem;
			}
			&--registered {
				margin-bottom: 1rem;
				margin-left: 16rem;
			}
			&__image-container {
				position: absolute;
				top: -8rem;
				left: 1rem;
			}
		}
	}
}
@media (max-width: breakPoints.$breakPoint600) {
	.wtl-profile-card {
		&__username-container {
			font-size: 2.5rem;
			position: absolute;
			z-index: 1;
			top: 8rem;
			left: 50%;
			width: 100%;
			transform: translateX(-50%);
			&--p {
				margin-left: 0rem;
				text-align: center;
				width: auto;
			}
		}
		&__card-container {
			font-size: 2rem;
			justify-content: center;
			align-items: center;
			text-align: center;

			&--email {
				margin-top: 12rem;
				margin-left: 0rem;
			}
			&__github-container {
				margin-left: 0rem;
			}
			&--registered {
				margin-bottom: 1rem;
				margin-left: 0rem;
			}
			&__image-container {
				position: absolute;
				top: -8rem;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

@media (max-width: 435px) {
	.wtl-profile-card {
		&__username-container {
			font-size: 2.2rem;
		}
		&__card-container {
			font-size: 1.6rem;
		}
	}
}
