//Comfortaa
@font-face{
    font-family: "Comfortaa";
    src:url("./Comfortaa/static/Comfortaa-Light.ttf");
    font-weight:300;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./Comfortaa/static/Comfortaa-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./Comfortaa/static/Comfortaa-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Comfortaa";
    src: url("./Comfortaa/static/Comfortaa-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./Comfortaa/static/Comfortaa-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

//Permanent_Marker
@font-face {
    font-family: "Permanent Marker";
    src: url("./Permanent_Marker/PermanentMarker-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}