@use "../../../../Styles/default";
@use "../../../../Styles/colors";
@use "../../../../Styles/breakPoints";
.wtl-post-body-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	&--delete {
		border: none;
		background: none;
		padding: 0.5rem 2rem;
		font-size: 2rem;
		cursor: pointer;
		background: red;
		border-radius: 10px;
		color: colors.$white;
		align-self: flex-end;
	}
	&__header {
		display: flex;
		position: relative;
		gap: 1rem;
		&--img {
			position: relative;
			width: 10rem;
			cursor: pointer;
			img {
				border: 5px solid colors.$mainDashboardGreen;
				border-radius: 50rem;
				box-shadow: 1px 1px 10px 1px rgba(colors.$darkPink, 0.8),
					1px 1px 10px 1px rgba(colors.$black, 0.8);
			}
			margin-bottom: 1rem;
		}
		&--name {
			h2 {
				font-size: 2.5rem;
			}
			p {
				font-size: 1.5rem;
				margin-left: 0.5rem;
			}
		}
	}
	&--text {
		font-size: 1.8rem;
	}
	&__bottom-post {
		margin-top: 2rem;
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 0 5rem;
		&--like {
			font-size: 2rem;
			background: none;
			color: colors.$white;
			border: none;

			span {
				padding: 0.5rem 1.4rem;
				border-radius: 50px;
				background: colors.$profileShadowColor;
			}
		}

		&--like-post {
			font-size: 2rem;
			background: none;
			color: colors.$white;
			border: none;
			padding: 0.5rem 1.4rem;
			border-radius: 50px;
			background: colors.$profileShadowColor;
			cursor: pointer;
		}
		&__btn-group {
			display: flex;
			gap: 1rem;
			align-items: center;
			justify-content: center;
			&--report {
				border: none;
				background: none;
				padding: 0.5rem 2rem;
				font-size: 2rem;
				cursor: pointer;
				background: red;
				border-radius: 10px;
				color: colors.$white;
			}
			&--comments {
				color: colors.$white;
				border: none;
				background: none;
				padding: 0.5rem 2rem;
				font-size: 2rem;
				cursor: pointer;
				background: colors.$mainGreen;
				border-radius: 10px;
			}
		}
	}
}

@keyframes rotatePostShadow {
	0% {
		box-shadow: 0 3px 8px -2px colors.$secondaryDashboardGreen;
	}
	20% {
		box-shadow: 4px 3px 8px -2px colors.$secondaryDashboardGreen;
	}
	60% {
		box-shadow: 4px -3px 8px -2px colors.$secondaryDashboardGreen;
	}
	80% {
		box-shadow: -4px -3px 8px -2px colors.$secondaryDashboardGreen;
	}
	100% {
		box-shadow: 0 3px 8px -2px colors.$secondaryDashboardGreen;
	}
}
