@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/breakPoints";

.wtl-profile-page {
	min-height: calc(100vh - 20rem);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 20rem 0 5rem;
	margin-top: 8rem;
	flex-direction: row;
	gap: 3rem;
	&--content {
		position: relative;
		flex: 5;
		margin: 0 auto;
	}
	&--side-menu {
		flex: 1;
		margin: 0 auto;
	}
}

@media (max-width: breakPoints.$breakPoint1366) {
	.wtl-profile-page {
		margin: 0 15rem 0 5rem;
	}
}
@media (max-width: breakPoints.$breakPoint1080) {
	.wtl-profile-page {
		margin: 0 5rem 0 5rem;
		flex-direction: column;
		&--content {
			flex: 1;
		}
		&--side-menu {
			flex: 1;
			width: 95%;
		}
	}
}

@media (max-width: breakPoints.$breakPoint600) {
	.wtl-profile-page {
		width: 90%;
		margin: 0 auto;
	}
}
